---
layout: default
---
<div class="du-wrapper du-mentorship-wrapper">
  <div class="du-hero du-hero--mentorship">
    <div class="du-hero--content">
      <h1>Mentorship Program</h1>
      <h2>2017-2018</h2>
    </div>
  </div>

  <div class="du-section du-section--white">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="du-section--header">Purpose and Goals</h2>
          <div class="du-mentorship--purpose">
            <p class="du-section--large-text du-section--quote">
              The purpose of this program is to support students who are interested in design,
              and are seeking guidance or mentorship whether it be in the form of career
              advice or learning new design skills and practices. We also strive to make this 
              program beneficial to mentors by providing structure for mentorship, supplying
              design resources, and establishing a network of mentors who can help and
              support each other.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="du-section du-section--white">
    <div class="container">

    </div>
  </div>

  <div class="du-section du-section--white">
    <div class="container">
      <div class="row">
        <div class="du-mentorship--card col-md-6">
          <h2 class="du-section--header text-center">Role of Mentor</h2>
          <img src="public/images/icons/lightbulb.svg" alt="Mentor Graphic">
          <p>
            The role of a <strong>mentor</strong> is to provide career and education guidance 
            to their mentees, and to be a resource for quality feedback on resumes, portfolios, 
            pitches, etc. Overall, we hope mentors guide mentees in establishing realistic goals, 
            and create meaningful relationships that foster achievement of those goals.
          </p>
        </div>
        <div class="du-mentorship--card col-md-6">
          <h2 class="du-section--header text-center">Role of Mentee</h2>
          <img src="public/images/icons/backpack.svg" alt="Mentee Graphic">
          <p>
            The role of a <strong>mentee</strong> is to identify their career goals and establish 
            steps they will take to accomplish those goals with their mentor. Mentees should be 
            willing to learn and work with their mentor in order to improve skills in design and 
            networking, and most importantly not be afraid to ask questions!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="du-section du-section--white">
    <div class="container">
      <h2 class="du-section--header text-center">Important Events</h2>

      <div class="row du-card--row">
        {% assign count = 0 %}
        {% for post in site.posts reversed %}
          {% if post.mentorship %}
            <div class="col-md-4 du-card--wrapper du-card--type-{{ post.type }}" >
              <a class="card du-card" href="{% if post.facebook %}{{ post.facebook }}{% else %}{{post.resource_link }}{% endif %}" target="_blank">
                <div class="card-img-top du-card--img-top"></div>
                <div class="card-block du-card--block">
                  <div class="du-card--icon"><div></div></div>
                  <div class="du-card--content">
                    <h4 class="card-title du-card--title du-card--event-title">{{ post.title }}</h4>
                    <h6 class="du-card--date">{{ post.time }}</h6>
                    <p class="du-card--description du-card--event-description">{{ post.excerpt }}</p>
                  </div>
                </div>
              </a>
            </div>
            {% assign count = count | plus: 1 %}
            {% if count == 3 %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="du-section du-section--white">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="du-section--header">Contact</h2>
          <div class="du-mentorship--purpose">
            <p class="du-section--large-text du-section--quote">
              If you have any questions or concerns, feel free to contact Anne Le <a href="mailto:anl193@ucsd.edu">(anl193@ucsd.edu)</a>
              or Chaitanya Prashant <a href="mailto:cprashan@ucsd.edu">(cprashan@ucsd.edu)</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
