.du-about {
  &--wrapper {
    
  }
  &--up-to {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  &--btn-lg {
    margin-top: 36px;
    margin-bottom: 20px;
  }
  &--feature-img {
    width: 100%;
  }
  &--mission {
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;

    &::before,
    &::after {
      content: '"';
      font-family: Times, serif;
      // display: inline;
      color: $GRAY_5;
      font-size: 54px;
      position: absolute;
      top: -10px;
    }
    &::before {
      content: open-quote;
      left: -30px;
    }
    &::after {
      content: close-quote;
      right: -30px;
    }
  }
}
