// /**
//  * SCSS overrides for highlighter-rouge
//  */
//  .highlight table td { padding: 5px; }
//  .highlight table pre { margin: 0; }
//  .highlight .c, .highlight .cd {
//    color: $dark_blue;
//    font-style: italic;
//  }
//  .highlight .cm {
//    color: $dark_blue;
//    font-style: italic;
//  }
//  .highlight .c1 {
//    color: $dark_blue;
//    font-style: italic;
//  }
//  .highlight .cp {
//    color: $dark_blue;
//    font-weight: bold;
//  }
//  .highlight .cs {
//    color: $dark_blue;
//    font-weight: bold;
//    font-style: italic;
//  }
//  .highlight .err {
//    color: #960050;
//    background-color: #1e0010;
//  }
//  .highlight .gi {
//    color: #ffffff;
//    background-color: #324932;
//  }
//  .highlight .gd {
//    color: #ffffff;
//    background-color: #493131;
//  }
//  .highlight .ge {
//    color: #000000;
//    font-style: italic;
//  }
//  .highlight .gr {
//    color: #aa0000;
//  }
//  .highlight .gt {
//    color: #aa0000;
//  }
//  .highlight .gh {
//    color: #999999;
//  }
//  .highlight .go {
//    color: #888888;
//  }
//  .highlight .gp {
//    color: #555555;
//  }
//  .highlight .gs {
//    font-weight: bold;
//  }
//  .highlight .gu {
//    color: #aaaaaa;
//  }
//  .highlight .k, .highlight .kv {
//    color: #4F9C6E;
//    font-weight: bold;
//  }
//  .highlight .kc {
//    color: #4F9C6E;
//    font-weight: bold;
//  }
//  .highlight .kd {
//    color: #4F9C6E;
//    font-weight: bold;
//  }
//  .highlight .kp {
//    color: #4F9C6E;
//    font-weight: bold;
//  }
//  .highlight .kr {
//    color: #4F9C6E;
//    font-weight: bold;
//  }
//  .highlight .kt {
//    color: #4F9C6E;
//    font-weight: bold;
//  }
//  .highlight .kn {
//    color: $syntax_tag_color;
//    font-weight: bold;
//  }
//  .highlight .ow {
//    color: $syntax_tag_color;
//    font-weight: bold;
//  }
//  .highlight .o {
//    color: $syntax_tag_color;
//    font-weight: bold;
//  }
//  .highlight .mf {
//    color: #ae81ff;
//  }
//  .highlight .mh {
//    color: #ae81ff;
//  }
//  .highlight .il {
//    color: #ae81ff;
//  }
//  .highlight .mi {
//    color: #ae81ff;
//  }
//  .highlight .mo {
//    color: #ae81ff;
//  }
//  .highlight .m, .highlight .mb, .highlight .mx {
//    color: #ae81ff;
//  }
//  .highlight .se {
//    color: #ae81ff;
//  }
//  .highlight .sb {
//    color: $salmon;
//  }
//  .highlight .sc {
//    color: $salmon;
//  }
//  .highlight .sd {
//    color: $salmon;
//  }
//  .highlight .s2 {
//    color: $salmon;
//  }
//  .highlight .sh {
//    color: $salmon;
//  }
//  .highlight .si {
//    color: $salmon;
//  }
//  .highlight .sx {
//    color: $salmon;
//  }
//  .highlight .sr {
//    color: $salmon;
//  }
//  .highlight .s1 {
//    color: $salmon;
//  }
//  .highlight .ss {
//    color: $salmon;
//  }
//  .highlight .s {
//    color: $salmon;
//  }
//  .highlight .na {
//    color: $syntax_comment_color;
//  }
//  .highlight .nc {
//    color: $syntax_comment_color;
//    font-weight: bold;
//  }
//  .highlight .nd {
//    color: $syntax_comment_color;
//    font-weight: bold;
//  }
//  .highlight .ne {
//    color: $syntax_comment_color;
//    font-weight: bold;
//  }
//  .highlight .nf {
//    color: $syntax_comment_color;
//    font-weight: bold;
//  }
//  .highlight .no {
//    color: #4F9C6E;
//  }
//  .highlight .bp {
//    color: $syntax_default_color;
//  }
//  .highlight .nb {
//    color: $syntax_default_color;
//  }
//  .highlight .ni {
//    color: $syntax_default_color;
//  }
//  .highlight .nn {
//    color: $syntax_default_color;
//  }
//  .highlight .vc {
//    color: $syntax_default_color;
//  }
//  .highlight .vg {
//    color: $syntax_default_color;
//  }
//  .highlight .vi {
//    color: $syntax_default_color;
//  }
//  .highlight .nv {
//    color: $syntax_default_color;
//  }
//  .highlight .w {
//    color: $syntax_default_color;
//  }
//  .highlight .nl {
//    color: $syntax_default_color;
//    font-weight: bold;
//  }
//  .highlight .nt {
//    color: $syntax_tag_color;
//  }
//  .highlight {
//    color: $syntax_default_color;
//    background-color: $card_bg;
//  }
//  .highlight * {
//    font-family: monospace !important;
//    font-size: 16px;
//  }
//  .highlighter-rouge,
//  .highlighter-rouge * {
//    font-family: monospace !important;
//    font-size: 16px !important;
//  }