.du-map {
  background-color: $GRAY_5;

  &--description {
    padding-top: 25px;

    &>div {
      padding-top: 25px;
    }
  }
}
.du-contact {
  &--section {
    padding-top: 0;
  }
  &--banner-title {
    height: 160px;
    background-color: $BLUE_3;
    padding-top: 40px;

    .du-section--header {
      color: $WHITE;
    }
  }
  &--list {
    margin: 10px 0 20px 0;
  }
  &--form {
    background-color: $WHITE;
    border-radius: 10px;
    padding: 0 50px 40px 50px;

    label,
    input,
    textarea {
      display: block;
    }
    label {
      text-transform: uppercase;
      letter-spacing: 0.6px;
      margin-top: 45px;
      font-size: 16px;
      margin-bottom: 15px;
    }
    input {
      border: none;
      width: 100%;
      border-bottom: 1.5px solid $GRAY_1;
      // TODO: animations

      &:focus {
        outline: none;
        border-color: $BLUE_3;
      }
    }
    textarea {
      border: 1.5px solid $GRAY_1;
      width: 100%;
      min-height: 220px;
    }
    textarea:focus {
      border-color: $BLUE_3;
      outline: none;
    }
  }
  &--form-wrapper {
    position: relative;
    top: -60px;
    background-color: $BLUE_3;
    border-bottom: 10px solid $BLUE_3;
    border-radius: 0 0 10px 10px;
    margin-bottom: -60px;
  }
}
