/**
 * Button styles go here
 */
.btn {
  background-color: transparent;
  border: 2px solid $GRAY_1;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 20px;
  padding: 8px 12px 6px 12px;

  &--footer-form {
    background-color: $RED_2;
    color: white;
    border: none;
    padding: 2px 12px;
    height: 30px;
    line-height: 30px;
    margin-left: 0;
  }
}
