/**
 * Button styles go here
 */
.btn {
  background-color: $GRAY_4;
  // box-sizing: border-box;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 24px;
  color: $WHITE;
  text-transform: uppercase;

  &:hover {
    color: $WHITE;
    background-color: $GRAY_4;
    border: none;
  }
  &.btn-primary {
    background-color: $RED_2;

    &:hover {
      background-color: $RED_2;
    }
  }
  &.btn-no-round {
    border-radius: 0;
  }
  &--footer-form {
    background-color: $RED_2;
    color: white;
    border: none;
    padding: 2px 12px;
    height: 30px;
    line-height: 30px;
    margin-left: 0;
    border-radius: 0;
  }
}
