.du-archive {
  &--buttons {

  }
  &--button {
    &.btn-lg {
      background-color: $WHITE;
      border: 2px solid $GRAY_3;
      box-sizing: border-box;
      color: $GRAY_1;

      &.active {
        background-color: $RED_1;
        color: $WHITE;
        border-color: $RED_1;
        box-shadow: none;
      }
    }
  }
}
