.du-footer {
  width: 100%;
  background-color: $RED_1;
  padding: 42px 0;

  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
  &--icons {
    padding: 18px 0;

    a {
      height: 54px;
      width: 54px;
      border-radius: 27px;
      border: 3px solid $WHITE;
      box-sizing: border-box;
      color: white;
      text-align: center;
      display: inline-block;
      margin-right: 24px;
    }
    i {
      color: inherit;
      line-height: 48px;
      font-size: 24px;
    }
  }
  &--form {
    label {
      color: $WHITE;
      font-size: 24px;
      letter-spacing: -3.4px;
      text-transform: lowercase;
      margin-bottom: 5px;
    }
    input {
      border-radius: 0;
      outline: none;
      background-color: $WHITE;
      min-width: 400px;
      border: none;
      text-transform: lowercase;
    }
    button {
      text-transform: lowercase;
      letter-spacing: -3.4px;
    }
  }
}
