.du-footer {
  width: 100%;
  background-color: $RED_1;
  padding: 34px 0;

  &--left {
    float: left;

    @media screen and (max-width: $BP_MD) {
      width: 100%;
      text-align: center;
    }
  }
  &--right {
    float: right;
  }
  &--icons {
    padding: 14px 0;

    a {
      height: 43px;
      width: 43px;
      border-radius: 22px;
      border: 2px solid $WHITE;
      box-sizing: border-box;
      color: white;
      text-align: center;
      display: inline-block;
      margin-right: 15px;
    }
    li:last-of-type a {
      margin-right: 0;
    }
    i {
      color: inherit;
      line-height: 40px;
      font-size: 20px;
    }
  }
  &--form {
    label {
      color: $WHITE;
      font-size: 14px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    input {
      border-radius: 0;
      outline: none;
      background-color: $WHITE;
      min-width: 360px;
      border: none;
    }
    button {
      height: 34px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      font-size: 14px;
      // Text off center due to letter-spacing (I think);
      padding-left: 8px;
    }
  }
}
