/**
 * Home page + hero
 */
.du-hero {
  height: 55%;
  height: 55vh;
  min-height: 500px;
  width: 100%;
  width: 100vw;

  &--index {
    background: url('../images/video_banner.jpg') no-repeat center center;
    background-size: cover;
  }
  &--content {

  }
}
.du-collabs {
  &--tile {
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
