/**
 * Home page + hero
 */
.du-hero {
  height: 80%;
  height: 80vh;
  min-height: 600px;
  width: 100%;
  width: 100vw;
  background: url('../images/video_banner.jpg') no-repeat center center;
  background-size: cover;

  &--content {

  }
}
.du-collabs {
  &--tile {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    // img {
    //   display: 
    // }
  }
}