.du-nav {
  width: 100%;
  background-color: $WHITE;
  position: fixed;
  top: 0;
  z-index: 8;

  &--logo {
    margin-top: 14px;
    height: 80px;
  }
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
  &--links {
    a {
      display: inline-block;
      padding: 42px 20px;
      cursor: pointer;

      li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }

      &:hover {
        text-decoration: none;
      }
      &:hover li:after {
        width: 100%;
        background: $RED_1;
      }
    }
    li {
      font-size: 16px;
      letter-spacing: 0.7px;
      line-height: 1.4;
      padding-bottom: 3px;
      text-transform: uppercase;
    }
  }
  &--mobile-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/* Defines the breakpoint at which the nav will collapse */
$BP_NAV_COLLAPSE: $BP_MD;

$NAV_BODYBG: $WHITE;

/* Safari requires animations to be loaded before being called. */
@keyframes header_fadeIn {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}
/* Firefox < 16 */
@-moz-keyframes header_fadeIn {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes header_fadeIn {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}
/* Internet Explorer */
@-ms-keyframes header_fadeIn {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}
/* Opera < 12.1 */
@-o-keyframes header_fadeIn {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}
.mobile-link {
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  border: none;

  .mobile-hamburger {
    border-top: 3px solid;
    border-color: $GRAY_1;
    height: auto;
    position: relative;
    transition: all 0.25s;
    width: 100%;
    display: inline-block;

    &:before,
    &:after {
      border-top: 3px solid;
      border-color: $GRAY_1;
      content: ' ';
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      transition: all 0.25s;
    }
    &:before {
      top: -12px;
    }
    &:after {
      bottom: -9px;
    }
  }
}
.nav-open {
  background-color: $WHITE;

  .logo {
    opacity: 0;
  }
  .mobile-link {
    .mobile-hamburger {
      border-color: transparent;
      z-index: 999999;

      &:before,
      &:after {
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 0;
      }
      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
  .navigation {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0s;
    visibility: visible;

    li {
      transform: translateX(0px);
    }
  }
}
.navigation {
  background: $NAV_BODYBG;
  bottom: 0;
  float: none;
  left: 0;
  margin-top: 0px;
  opacity: 0;
  padding: 0px 20px;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 75px;
  transition: opacity 0.25s, visibility 0s linear 0.5s;
  visibility: hidden;
  z-index: 10;
  font-family: $TEXT_FONT;

  a {
    text-decoration: none;
    border: none;
  }
  li a {
    color: $GRAY_1;
    display: block;
    padding: 20px 0px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    &:focus {
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  li {
    display: block;
    transform: translateX(-10px);
    transition: opacity 0.25s, transform 0.25s;
    text-align: center;
  }
  .dropdown > a {
    display: none;
  }
}
.du-nav--top:not(.nav-open) {
  background-color: transparent;
  border-bottom: none;

  .du-nav--logolink {
    opacity: 0;
  }
  .du-nav--list,
  .du-nav--header {
    color: $WHITE;
  }
  .mobile-hamburger {
    border-color: $WHITE;

    &:before,
    &:after {
      border-color: $WHITE;
    }
  }
}