.du-section {
  padding-top: 50px;
  padding-bottom: 60px;

  &--header {
    font-family: $HEADER_FONT;
    letter-spacing: 0.6px;
    margin-bottom: 34px;
  }
  &--white {
    background-color: $WHITE;
  }
}
