.du-section {
  padding-top: 60px;
  padding-bottom: 70px;

  h1 {
    font-size: 48px;
  }
  &--banner {
    // Extra padding for title banners
    padding-top: 100px;
    padding-bottom: 90px;
  }
  &--header {
    font-family: $HEADER_FONT;
    letter-spacing: 0.6px;
    font-size: 32px;
    margin-bottom: 34px;
  }
  &--description {
    font-size: 18px;
    margin-bottom: 12px;
  }
  &--large-text {
    font-size: 20px;
  }
  &--color-white {
    color: $WHITE;

    h2, 
    p {
      color: $WHITE;
    }
  }
  &--white {
    background-color: $WHITE;
  }
  &--blue {
    background-color: $BLUE_1;
  }
  &--subheader {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
  &--quote {

    &:before {

    }
    &:after {
      
    }
  }
}
.du-featurette {
  padding-top: 30px;
  padding-bottom: 20px;

  &--content {
    @media screen and (min-width: $BP_MD) {
      height: 300px;
    }
  }
  &--header {
    font-size: 30px;
    padding: 10px 0;
  }
  &--text {
    font-size: 18px;
  }
  &--image {
    img {
      max-height: 180px;
      max-width: 180px;
    }
  }
  &--cta {
    margin-top: 18px;
  }
}
