.du-tile {
  min-height: 300px;
  background-color: $GRAY_1;

  &--wrapper {
    margin-bottom: 25px;
  }
  &--about {
    margin-top: 20px;
    text-align: center;

    img {
      margin: 20px 0;
    }
    h4 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $TEXT_FONT;
    }
    p {
      font-size: 16px;
      max-width: 80%;
      margin: auto;
      margin-top: 6px;
    }
  }
}
.du-card {
  border-radius: 10px;
  margin-bottom: 30px;
  // background-color: $RED_3;

  &--title {
    font-size: 20px;
    letter-spacing: 0.8px;
    margin-bottom: 18px;
  }
  &--img-top {
    height: 240px;
    border-radius: 10px 10px 0 0;
  }
  &--block {
    background-color: $WHITE;
    padding: 0 34px 24px 34px;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }
  &--icon {
    position: relative;
    display: inline-block;
    top: -25px;
    height: 50px;
    width: 50px;
    z-index: 2;
    border-radius: 25px;
    background-color: $WHITE;

    div {
      width: 50px;
      height: 50px;
      padding: 15px;
    }
  }
  &--content {
    // text-align: left;
    margin-top: -12px;
  }
  &--description {

  }
  &--red {
    background-color: $RED_4;
    border-bottom: 6px solid $RED_4;
  }
  .du-btn {
    letter-spacing: -2.8px;
    text-transform: lowercase;
  }
  // Semantic CSS for types of events
  // Skills: Green + hamburger menu
  &--type-skill {
    background-color: $GREEN_1;
    border-bottom: 6px solid $GREEN_1;

    .du-card--icon div {
      background: url('../images/icons/icon_menu.png') no-repeat center center;
    }
  }
  // Professional: Yellow + bag
  &--type-prof {
    background-color: $YELLOW_1;
    border-bottom: 6px solid $YELLOW_1;

    .du-card--icon div {
      background: url('../images/icons/icon_bag.png') no-repeat center center;
    }
  }
  // Social: Blue + book
  &--type-social {
    background-color: $BLUE_1;
    border-bottom: 6px solid $BLUE_1;

    .du-card--icon div {
      background: url('../images/icons/icon_book.png') no-repeat center center;
    }
  }
}
