.du-tile {

}
.du-card {
  border-radius: 0;
  background-color: $RED_3;
  box-shadow: 10px 10px 0px $GRAY_3;

  &--title {
    font-size: 20px;
    letter-spacing: 0.8px;
    margin-bottom: 18px;
  }
  &--img-top {
    height: 240px;
  }
  &--block {
    background-color: $WHITE;
    padding: 24px 34px;
  }
  .du-btn {
    letter-spacing: -2.8px;
    text-transform: lowercase;
  }
}
