---
layout: default
---
{{ content }}

<div class="du-section du-section--white">
  <div class="container">
    <h2 class="du-section--header">Our Collaborators:</h2>

    <div class="row du-collabs--row">
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/DesignLab.png" /></a>
      </div>
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/Workday.png" /></a>
      </div>
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/Illumina.png" /></a>
      </div>
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/Ideo.png" /></a>
      </div>
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/EveryoneCounts.png" /></a>
      </div>
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/Intuit.png" /></a>
      </div>
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/FabLab.png" /></a>
      </div>
      <div class="col-md-3 du-collabs--tile">
        <a href="#"><img src="public/images/partners/Adobe.png" /></a>
      </div>
    </div>
  </div>
</div>